<div>Game Id: <span class="game-id">{{ GameId }}</span></div>

<button *ngIf="playerHuman==0 && game.players[1]" (click)=MatchInit()>New Match</button>

<app-player *ngIf=game.players[0] [playerId]=0 [player]=game.players[0] [playerCurrent]=game.playerCurrent
  [playerHuman]=playerHuman [gameStage]=game.stage (confirmed)=GameStageSecretWordConfirmed()></app-player>
<app-player *ngIf=game.players[1] [playerId]=1 [player]=game.players[1] [playerCurrent]=game.playerCurrent
  [playerHuman]=playerHuman [gameStage]=game.stage (confirmed)=GameStageSecretWordConfirmed()></app-player>

<div class="stages">
  Preparation
  <ol>
    <li [class.stage-current]="game.stage == GameStage.secretWordCreate">Create Secret Word</li>
  </ol>
  Each Player
  <ol>
    <li [class.stage-current]="game.stage == GameStage.cardSelection">Select Card</li>
    <li [class.stage-current]="game.stage == GameStage.cardResolution">Resolve Card</li>
    <li [class.stage-current]="game.stage == GameStage.secretWordGuess">Guess Secret Word or Pass</li>
  </ol>
</div>

<div>
  <h2>Cards</h2>
  <app-card *ngFor="let card of game.cards" [card]=card></app-card>
</div>