<div class="card" [class.special]=card.special [class.selected]=isSelected (click)=click()>
  <!-- <p class="title">{{card.title}}</p> -->
  <p class="power-title">{{card.powerTitle}}</p>
  <p class="card-points">✪ {{card.points}}</p>
  <p class="power-description">{{card.powerDescription}}</p>
</div>
