.card {
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 5px solid transparent;
}

.special {
  background-color: blueviolet;
  border: 5px dashed orange;
}

.selected {
  border: 5px solid orange;
}

.available {
  border: 5px solid orange;
}

.title {
  text-align: center;
  font-variant: small-caps;
}

.card-points {
  text-align: center;
  font-size: larger;
}

.power-title {
  text-align: center;
  font-variant: small-caps;
}

.power-description {
  height: 100px;
  overflow-y: scroll;
}
