<div class="header">
  <div class="header-title">
    <h1 class="title">A Little Wordy</h1>
    <button (click)="TopBarShow = !TopBarShow">⚙</button>
  </div>
  <div [@popOverState]="TopBarShow" class="header-top-bar">
    <div>
      <label>Your name</label>
      <input type="text" [(ngModel)]="name">
    </div>
    <div>
      <label>Game Id</label>
      <input type="text" [(ngModel)]="connectId">
      <button [disabled]="!peer?.id" (click)=gameStart()>{{connectId ? "Join" : "Create Game"}}</button>
    </div>
  </div>
</div>

<app-game *ngIf="start" [peer]=peer [connectId]=connectId [name]=name></app-game>