:host {
  display: block;
  background-color: #f1f1f1;
  border: 2px solid dimgray;
}

.letters {
  background-color: #f1f1f1;
}

.player-name {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.player-you {
  background-color: #f1f1f1;
}

.player-current {
  border: 5px solid orange;
}

.player-points {
  text-align: center;
  font-size: larger;
}
