<div class="player-name" [class.player-you]=PlayerClass(playerId) [class.player-current]=IsPlayerCurrent(playerId)>
  {{player.name}}</div>
  <div *ngIf="PlayerClass(playerId)">(You)</div>
<div class="player-points">✪ {{ player.points}}</div>

<div class="letters">
  <app-letter *ngFor="let letter of player.letters" [letter]=letter [IsSelectable]=isLetterSelectable
    (selected)=LetterSelected($event)></app-letter>
</div>

<div class="secret-word">
  <h3>Secret Word</h3>
  <div class="letters" *ngIf="playerId == playerHuman">
    <app-letter *ngFor="let letter of player.secretWord" [letter]=letter [IsSelectable]=isLetterSelectable
      (selected)=LetterSelected($event)></app-letter>
  </div>
  <div *ngIf="player.secretWordOk">Confirmed</div>
</div>

<button *ngIf="ConfirmSecretWord" (click)=Confirm()>Confirm</button>