.letter {
  background-color: #f1f1f1;
  width: 1em;
  height: 1.5em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 5px solid transparent;
  font-size: xxx-large;
  text-transform: uppercase;
}

.vowel {
  background-color: brown;
}

.selected {
  border: 5px solid orange;
}

.used {
  border: 5px solid darkgray;
  background-color: grey;
}

:host {
  display: inline-block;
}
